.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.timer{
 float:left; 
 margin: 0 auto;

}
.time-object {
    width: 90px;
    height: 80px; 
    padding: 15px;
    border: 1px solid #ddd;
    float:left;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

h1{
    font-weight: 300;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
p{
   color: #22222275; 
   font-weight: bold;
       font-size: .9em;
}